<!--
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="../../index.html">Home</a>
        </li>
        <li class="active">Login</li>
    </ul>
</div>
-->
<div class="page-content">

<div class="row">
<div class="space-6"></div>
<div class="col-md-6 col-md-offset-4">
    <div id="login-box" class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Por Favor Registrate</h3>
        </div>
        <div class="panel-body">
                <div class="space-16"></div>
                <form name="loginForm" class="form-horizontal" role="form">
                    <fieldset>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="email"> Usuario </label><i class="ace-icon fa fa-user"></i>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Usuario" name="email" ng-model="login.email" required focus/>
                                
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="password"> Contraseña </label><i class="ace-icon fa fa-lock"></i>
                        <div class="col-sm-7">
                           <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Contraseña" ng-model="login.password" required/>
                                
                            </span>
                        </div>
                    </div>
                    <div class="space"></div>
                     <div class="clearfix">
                         <a type="submit" class="btn btn-lg btn-success btn-block" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">Ingresar</a>
                    </div>
                    <br>
                    Crear una cuenta? <a href="#/signup">Registrarse</a>
                     </fieldset>
                     <a href="../../index.html" class="btn btn-lg btn-danger btn-block" >PRINCIPAL</a>
                </form>
        </div><!-- /widget-body -->
    </div><!-- /login-box -->
</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->
